<!-- Main Intro Section -->
<app-main-intro-component></app-main-intro-component>
@if (showScrollTopBtn) {
  <button
    (click)="scrollToTop()"
    class="fixed cursor-pointer bottom-6 right-6 bg-red-700 text-white px-4 py-2 rounded-full z-50"
  >
    <i class="fa-solid fa-arrow-up"></i>
  </button>
}
<!-- About Me Section -->
<app-about-component></app-about-component>
<!-- Skills Section -->
<app-skills-component></app-skills-component>
<!-- Projects Section -->
<app-projects-component></app-projects-component>
<!-- Contact Section -->
<app-contact-component></app-contact-component>
