/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
  ::-webkit-scrollbar {
    width: 8px;
  }
  ::-webkit-scrollbar-thumb {
    background-color: #b91c1c;
    border-radius: 3px;
  }
}

body {
  font-family: "Inter", sans-serif;
}
